.nav-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F0F2F3;
}

.sub-nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F7F8FA;
	padding: 15px 10px 15px 10px;
	border-bottom: 2px solid #F2F3F5;
	width: 100%
}

.nav-logo-wrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.nav-chair-icon {
	margin-right: 8px;
	width: 45px;
	height: 45px;
	padding-top: 7px;
}

.nav-logo-title {
	color: #272343;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 26px;
}

@media (max-width: 780px) {
	.nav-logo-title {
		display: none;
	}
}

.search-buttons-wrapper {
	display: flex;
	align-items: center;
	gap: 12px;

}


.search-button {
	display: flex;
	align-items: center;
	padding: 14px;
	background: #FFFFFF;
	border-radius: 8px;
	gap: 12px;
	cursor: pointer;
}

@media (max-width: 600px) {
	.search-button {
		display: none !important;
	}
	.search-button-text {
		display: none;
	}

	.sub-nav-wrapper {
		padding: 15px 5px 15px 5px;
	}
}

.unique-search-button {
	display: flex !important;
	position: relative;
}

.search-button-text {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 12px;
	color: #272343;
	gap: 12px;
}

.search-cart-couter {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 17px;
	height: 17px;
	background: #007580;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 20px;
	position: absolute;
	top: 7px;
	right: 5px;
}

.nav-phone-number-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;

}

.nav-phone-number {
	text-decoration: none;
	color: #272343;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Inter';
	transition: 0.5s all;
	font-size: 20px;
}

.nav-phone-number:hover {
	color: #007580
}