.product-door-guarantee-wrapper {
	padding: 0px 20px 0px 20px;
}

.product-door-guarantee-list {
	padding-left: 30px;
}

.product-door-guarantee-list-item {
	margin-top: 4px;
    margin-bottom: 4px;
}