.main-product-cards-list-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	flex-wrap: wrap;
	width: 100%;
}

.main-product-cards-list-title {
	font-family: 'Inter';
	font-weight: 600;
	font-size: 32px;
	color: #272343;
	text-align: center;
	margin-bottom: 24px;
}

.main-product-cards-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-right: 8%;
	margin-left: 8%;
	gap: 24px;
}

.main-product-cards-empty-list {
	height: 374px;
	display: flex;
	justify-content: center;
	align-items: center
}

.main-product-cards-empty-list-text {
	font-family: 'Inter';
	font-weight: 600;
	font-size: 32px;
	color: #272343;
}

.main-product-cards-load-more-button {
	width: fit-content;
	height: fit-content;
	margin: 20px;
}

.main-product-cards-load-more-button-disabled {
	background: #929498	
}